<!-- Start latest-blog Area -->
<section class="latest-blog-area pt-20" id="blog">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Blogs</h1>
          <p>Latest articles from around the web</p>
        </div>
      </div>
    </div>
    <div class="row">
      {% for blog in site.data.blogs %}
      <div class="col-lg-6 single-blog">
        <img class="img-fluid" src="{{blog.image}}" alt="">
        <ul class="tags">
          {% for tag in blog.tags %}
          <li><a href="#">{{tag}}</a></li>
          {% endfor %}
        </ul>
        <a href="{{blog.url}}" target="_blank">
          <h4>{{blog.title}}</h4>
        </a>
        <p class="post-date">{{blog.date}}</p>
        <p>
          {{blog.excerpt}} <a href="{{blog.url}}" target="_blank">Read the full article on FaceQuest blog </a>
        </p>

      </div>
      {% endfor %}
    </div>
  </div>

  <div class="mt-20 pb-20 text-center">
    <a class="genric-btn primary radius" href="https://medium.com/facequest" target="_blank">View All Posts</a>
  </div>
</section>


<!-- End latest-blog Area -->
