<header id="header" id="home">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="#home"><img src="img/logo.png" style="height:30px; width:auto" alt="facequest_logo" title="FaceQuest" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#home">Home</a></li>
          <li><a href="user-guide">Docs</a></li>
          <li><a href="https://app.facequest.io/api-docs" target="_blank">API</a></li>
          <li><a href="sign-up">Sign Up</a></li>
          <li><a href="https://app.facequest.io" target="_blank">Go to app</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->
