<header id="header" id="home">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="#home"><img src="img/logo.png" style="height:30px; width:auto" alt="facequest_logo" title="FaceQuest" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#home">Home</a></li>
          <li class="menu-has-children"><a href="#" class="sf-with-ul menu-item-active">Products</a>
            <ul style="">
              <li><a href="product-face-verification">FaceQuest <sup>&reg;</sup> 1:1 Facial Recognition Technology</a></li>
              <li><a href="product-face-search">FaceQuest <sup>&reg;</sup> 1:N Facial Recognition Technology</a></li>
            </ul>
          </li>
          <li><a href="solutions">Solutions</a></li>
          <li><a href="industries">Industries</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="https://medium.com/facequest" target="_blank">Blog</a></li>
          <li><a href="https://app.facequest.io" target="_blank">Login</a></li>
          <li><a class="ticker-btn mt-20" href="https://app.facequest.io/#/signup" target="_blank">Free Trial</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
  <a href="demo"><div id="demo"  class="sticky primary-btn mt-20" >Book a demo</div></a>

</header><!-- #header -->
