<!-- Start price Area -->
<section class="price-area" id="pricing">
  <div class="container pb-20">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-20 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Pricing</h1>
          <div class="form-check form-check-inline pb-30" style="margin-left:-6px; display: block ruby">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="paymentFrequency" id="monthly" value="monthly">
              <label class="form-check-label" for="monthly">Monthly Subscription</label>
            </div>
            <input class="form-check-input" type="radio" checked name="paymentFrequency" id="yearly" value="yearly">
            <label class="form-check-label" for="yearly">Yearly Subscription (10% off)</label>
          </div>

        </div>
      </div>
    </div>

    <div class="row annual-pricing">
      <div class="col-lg-3">
        <div class="single-price nontop-padding">
          <div class="price-top">
            <h4>Student</h4>
          </div>

          <ul class="lists">
            <li>1:1 Face Match</li>
            <li>1:N Face Search</li>
            <li>Cloud Storage</li>
            <li>Unlimited Quests*</li>
            <li>Upto 100 Reference Faces</li>
            <li>50 Quests/Credit**</li>
            <li>API Access</li>
            <li>7 Day Free Trial ***</li>
            <li>Chat Support</li>
          </ul>
          <div class="price-bottom">
            <div class="price-wrap d-flex flex-row justify-content-center">
              <span class="price">$</span>
              <span class="price-value"> 22.50 </span><span class="time">Per <br> Month</span>
            </div>
            <a href="mailto:info@facequest.io" target="_blank" class="primary-btn header-btn radius">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-price nontop-padding">
          <div class="price-top">
            <h4>Developer</h4>
          </div>
          <ul class="lists">
            <li>1:1 Face Match</li>
            <li>1:N Face Search</li>
            <li>Cloud Storage</li>
            <li>Unlimited Quests*</li>
            <li>Upto 1000 Reference Faces</li>
            <li>50 Quests/Credit**</li>
            <li>API Access</li>
            <li>7 Day Free Trial ***</li>
            <li>Chat Support</li>
          </ul>
          <div class="price-bottom">
            <div class="price-wrap d-flex flex-row justify-content-center">
              <span class="price">$</span>
              <span class="price-value"> 58.50 </span><span class="time">Per <br> Month</span>
            </div>
            <a href="mailto:info@facequest.io" target="_blank" class="primary-btn header-btn radius">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-price nontop-padding">
          <div class="price-top">
            <h4>Business</h4>
          </div>
          <ul class="lists">
            <li>1:1 Face Match</li>
            <li>1:N Face Search</li>
            <li>Cloud Storage</li>
            <li>Unlimited Quests*</li>
            <li>Upto 5000 Reference Faces</li>
            <li>500 Quests/Credit**</li>
            <li>API Access</li>
            <li>7 Day Free Trial ***</li>
            <li>Call & Chat Support</li>
          </ul>
          <div class="price-bottom">
            <div class="price-wrap d-flex flex-row justify-content-center">
              <span class="price">$</span>
              <span class="price-value"> 202.50 </span><span class="time">Per <br> Month</span>
            </div>
            <a href="mailto:info@facequest.io" target="_blank" class="primary-btn header-btn radius">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-price nontop-padding">
          <div class="price-top">
            <h4>Enterprise</h4>
          </div>
          <ul class="lists">
            <li>Everything in Business plan</li>
            <li>+ Unlimited Quests*</li>
            <li>+ Unlimited Reference Faces</li>
            <li>Integration Services</li>
            <li>Custom Domain Support</li>
            <li>Customization Services</li>
            <li>Onboarding Specialist</li>
            <li>7 Day Free Trial ***</li>
            <li>Call & Chat Support</li>
          </ul>
          <div class="price-bottom">
            <div class="price-wrap d-flex flex-row justify-content-center">
              <span class="price-value"> $ </span><span class="time">Custom <br> Pricing </span>
              <br />
            </div>
            <a href="mailto:info@facequest.io" target="_blank" class="primary-btn header-btn radius">Sign Up</a>
          </div>

        </div>
      </div>
    </div>

    <div class="row monthly-pricing">
      <div class="col-lg-3">
        <div class="single-price nontop-padding">
          <div class="price-top">
            <h4>Student</h4>
          </div>
          <ul class="lists">
            <li>1:1 Face Match</li>
            <li>1:N Face Search</li>
            <li>Cloud Storage</li>
            <li>Unlimited Quests*</li>
            <li>Upto 100 Reference Faces</li>
            <li>50 Quests/Credit**</li>
            <li>API Access</li>
            <li>7 Day Free Trial ***</li>
            <li>Chat Support</li>
          </ul>
          <div class="price-bottom">
            <div class="price-wrap d-flex flex-row justify-content-center">
              <span class="price">$</span>
              <span class="price-value"> 25 </span><span class="time">Per <br> Month</span>
            </div>
            <a href="mailto:info@facequest.io" target="_blank" class="primary-btn header-btn radius">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-price nontop-padding">
          <div class="price-top">
            <h4>Developer</h4>
          </div>
          <ul class="lists">
            <li>1:1 Face Match</li>
            <li>1:N Face Search</li>
            <li>Cloud Storage</li>
            <li>Unlimited Quests*</li>
            <li>Upto 1000 Reference Faces</li>
            <li>50 Quests/Credit**</li>
            <li>API Access</li>
            <li>7 Day Free Trial ***</li>
            <li>Chat Support</li>
          </ul>
          <div class="price-bottom">
            <div class="price-wrap d-flex flex-row justify-content-center">
              <span class="price">$</span>
              <span class="price-value"> 65 </span><span class="time">Per <br> Month</span>
            </div>
            <a href="mailto:info@facequest.io" target="_blank" class="primary-btn header-btn radius">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-price nontop-padding">
          <div class="price-top">
            <h4>Business</h4>
          </div>
          <ul class="lists">
            <li>1:1 Face Match</li>
            <li>1:N Face Search</li>
            <li>Cloud Storage</li>
            <li>Unlimited Quests*</li>
            <li>Upto 5000 Reference Faces</li>
            <li>500 Quests/Credit**</li>
            <li>API Access</li>
            <li>7 Day Free Trial ***</li>
            <li>Call & Chat Support</li>
          </ul>
          <div class="price-bottom">
            <div class="price-wrap d-flex flex-row justify-content-center">
              <span class="price">$</span>
              <span class="price-value"> 225 </span><span class="time">Per <br> Month</span>
            </div>
            <a href="mailto:info@facequest.io" target="_blank" class="primary-btn header-btn radius">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-price nontop-padding">
          <div class="price-top">
            <h4>Enterprise</h4>
          </div>
          <ul class="lists">
            <li>Everything in Business plan</li>
            <li>+ Unlimited Quests*</li>
            <li>+ Unlimited Reference Faces</li>
            <li>Integration Services</li>
            <li>Custom Domain Support</li>
            <li>Customization Services</li>
            <li>Onboarding Specialist</li>
            <li>7 Day Free Trial ***</li>
            <li>Call & Chat Support</li>
          </ul>
          <div class="price-bottom">
            <div class="price-wrap d-flex flex-row justify-content-center">
              <span class="price-value"> $ </span><span class="time">Custom <br> Pricing </span>
              <br />
            </div>
            <a href="mailto:info@facequest.io" target="_blank" class="primary-btn header-btn radius">Sign Up</a>
          </div>

        </div>
      </div>
    </div>
    <br />
    <div class="row ml-15">
      <ul>
        <li>*Transactions will be based on credits purchased</li>
        <li>**1 credit costs $1 </li>
        <li>***7 day free trial consists of storage upto 100 Reference Faces with 100 Quests for the entire trial period</li>
      </ul>
    </div>
  </div>
</section>
<!-- End price Area -->
