<!DOCTYPE html>
<html class="no-js">

<head>
  {% include tag_manager_head.html %}

  {% include google_analytics.html %}

  <!-- Event snippet for Website lead conversion page -->
  <script>
    gtag('event', 'conversion', {'send_to': 'AW-466971421/EhKkCN2czu0BEJ3W1d4B'});
  </script>

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/logo_without_name.png">
  <!-- Author Meta -->
  <meta name="author" content="FaceQuest">
  <!-- Meta Description -->
  <meta name="description" content="Face recognition made easy with Facequest APIs. Add face recognition to your own software">
  <!-- Meta Keyword -->
  <meta name="keywords" content="Face Recognition as a Service, FaceQuest, Face Recognition Service, Face Recognition, Face Recognition APIs, Face Recognition API, Facial Recognition">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Face Recognition as a Service | FaceQuest | Face Recognition API | {{page.title}}</title>

  {% include stylesheets.html %}
  {% include cookie_consent.html %}
  {% include https_redirector.html %}
</head>
<body>


  {% include tag_manager_body.html %}

  {% include page_header.html %}
  {{content}}



  {% include footer.html %}
  {% include body_scripts.html %}

<script type = "text/javascript" > _linkedin_partner_id = "2773820";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id); 
  </script>
  <script type="text/javascript"> 
    (function()
      {
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text / javascript ";
        b.async = true; 
        b.src = "https: //snap.licdn.com/li.lms-analytics/insight.min.js"; 
        s.parentNode.insertBefore(b, s);
      })(); 
  </script> 
  <noscript> 
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2773820&fmt=gif" /> 
  </noscript>
</body>
</html>
