<!DOCTYPE html>
<html class="no-js">

<head>
  {% include tag_manager_head.html %}
  {% include google_analytics.html %}
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/logo_without_name.png">
  <!-- Author Meta -->
  <meta name="author" content="FaceQuest">
  <!-- Meta Description -->
  <meta name="description" content="Face recognition made easy with Facequest APIs. Add face recognition to your own software">
  <!-- Meta Keyword -->
  <meta name="keywords" content="Face Recognition as a Service, FaceQuest, Face Recognition Service, Face Recognition, Face Recognition APIs, Face Recognition API, Facial Recognition">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Face Recognition as a Service | FaceQuest | Face Recognition API | {{page.title}}</title>

  {% include stylesheets.html %}
  {% include cookie_consent.html %}
  {% include https_redirector.html %}
</head <body>
{% include tag_manager_body.html %}

{% include header.html %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-8">
        <h1 class="text-white">
          Face Recognition as a Service </h1>

        <h4 class="pt-20 pb-20 text-white">
          Quickly recognize faces @ scale within your own software
        </h4>
        <div>
          <a class="primary-btn scrollto mt-20" href="#service" id="learnmore">Learn More</a>
          &nbsp; <a class="primary-btn scrollto mt-20" href="https://app.facequest.io/#/signup" target="_blank">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start feature Area -->
<section class="feature-area pt-50 pb-100 mt-100" id="service">
  <div class="container">

    <div class="row d-flex justify-content-center">
      <div class="menu-content pt-30 pb-30 col-lg-10">
        <div class="title text-center">
          <h2 class="mb-10">What sets FaceQuest apart?</h2>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="single-feature">
          <span class="lnr lnr-clock"></span>
          <h4>
            Quick Setup
          </h4>
          <p>
            Get started with recognizing faces in no time. Minimal setup required. Even more, you can use FaceQuest&trade; solely using API calls, if you wish.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-feature">
          <span class="lnr lnr-code"></span>
          <h4>
            Developer-friendly APIs
          </h4>
          <p>
            Automate your workload using FaceQuest&trade; APIs. Recognize faces from any programming language by simply using your secret key.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-feature">
          <span class="lnr lnr-tag"></span>
          <h4>
            Flexible Pricing Plans
          </h4>
          <p>
            FaceQuest's Pay-as-you-grow pricing plans allow you to pay based on the current volume of requirements you have.  If you need less, you pay less.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End feature Area -->

<!-- Start about Area -->
<section class="about-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h2 class="mb-10">Recognize Faces Easily</h2>
          <p>Just 3 steps to recognize faces like a pro.</p>
          <img class="img-fluid" src="img/3_steps_facequest.png" alt="facequest_api_workflow">
        </div>
        <div class="mt-20 text-center">
          <a class="genric-btn primary radius" href="user-guide">View Docs</a>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- End about Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="feature">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h2 class="mb-10">Why FaceQuest?</h2>
          <p>4 Reasons to use FaceQuest right now!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 secvice-left">
        <div class="single-service d-flex flex-row pb-30">
          <div class="icon">
            <h2>01</h2>
          </div>
          <div class="desc">
            <h4>No Infra Headaches</h4>
            <p>
              You do not need jazzy infra or AI coding skills to recognize faces in your software. FaceQuest&trade; enables you to concentrate on building your own software, without additional investment and maintenance for high end
              infrastructure.
            </p>
          </div>
        </div>
        <div class="single-service d-flex flex-row pb-30">
          <div class="icon">
            <h2>02</h2>
          </div>
          <div class="desc">
            <h4>Language Agnostic</h4>
            <p>
              FaceQuest&trade; does not care what programming language you use to code.
              As long as you can call HTTP(s) API end-points from your code, you could recognize faces from Java, Ruby, Scala or even Fortran (just-kidding!)
            </p>
          </div>
        </div>

      </div>
      <div class="col-lg-6 secvice-right">
        <div class="single-service d-flex flex-row pb-30">
          <div class="icon">
            <h2>03</h2>
          </div>
          <div class="desc">
            <h4>Focus on User Experience</h4>
            <p>
              FaceQuest&trade; has an easy-to-use and clutter-free Web UI, in case APIs are not your thing.
              See only relevant information and nothing else.
              FaceQuest&trade; APIs are designed keeping the developer's productivity in mind.
            </p>
          </div>
        </div>
        <div class="single-service d-flex flex-row pb-30">
          <div class="icon">
            <h2>04</h2>
          </div>
          <div class="desc">
            <h4>Secure & Safe</h4>
            <p>
              FaceQuest&trade; takes all possible measures to secure your data. All data is encrypted at rest.
              Only https for data transmission, no exceptions!
              You have full control over the data you add to FaceQuest&trade; platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->

<!-- Start callto-action Area -->
<section class="callto-action-area relative section-gap">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-9">
        <div class="title text-center">
          <h2 class="mb-10 text-white">Want to experience the Quest?</h2>
          <p class="text-white">Sign up for a plan that suits your needs </p>
          <a class="primary-btn scrollto" href="#pricing">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End calto-action Area -->
{% include pricing_area.html %}
{% include blog_area.html %}
{% include footer.html %}
{% include body_scripts.html %}
</body>

</html>
