<!DOCTYPE html>
<html class="no-js">

<head>
  {% include tag_manager_head.html %}
  {% include google_analytics.html %}
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/logo_without_name.png">
  <!-- Author Meta -->
  <meta name="author" content="FaceQuest">
  <!-- Meta Description -->
  <meta name="description" content="Face recognition made easy with Facequest APIs. Add face recognition to your own software">
  <!-- Meta Keyword -->
  <meta name="keywords" content="Face Recognition as a Service, FaceQuest, Face Recognition Service, Face Recognition, Face Recognition APIs, Face Recognition API, Facial Recognition">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>{{page.title}} | FaceQuest &reg;</title>

  {% include stylesheets.html %}
  {% include cookie_consent.html %}
  {% include https_redirector.html %}
</head>
<body>
{% include tag_manager_body.html %}

{% include header.html %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-left">
      <div class="banner-content col-lg-6">
        <h1 class="text-white">
          Face Recognition as a Service</h1>

        <h4 class="pt-20 pb-20 text-white">Recognize faces using <span
                class="txt-rotate"
                data-period="200"
                data-rotate='[ "Face Matching", "Facial Recognition Search", "Reverse Image Search Facial Recognition"]'></span></h4>
        <div>
          <div class="banner-description">FaceQuest® is an AI Face Recognition solution created & maintained by Ampyard. FaceQuest provides facial recognition system to students, developers & and enterprise clients worldwide. We serve industries like banking, fintech, insurance, ride hailing & delivery services, retail, subscription apps, institutions & workplaces.</div>
          <a class="primary-btn scrollto mt-20" href="#service" id="learnmore">Learn More</a>
          &nbsp; <a class="primary-btn scrollto mt-20" href="https://app.facequest.io/#/signup" target="_blank">Sign Up</a>
        </div>
      </div>
      <div class="banner-content col-lg-6">
        <img class="device-content banner-image" src="img/home_page_banner.jpg" alt="Face Recognition">


      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start feature Area -->
<section class="feature-area pt-50 pb-100 mt-100" id="service">
  <div class="container">

    <div class="row d-flex justify-content-center">
      <div class="menu-content pt-30 pb-30 col-lg-10">
        <div class="title text-center">
          <h2 class="mb-10">What sets FaceQuest&reg; apart?</h2>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="single-feature">
          <span class="lnr lnr-clock"></span>
          <h4>
            Quick Setup
          </h4>
          <p>
            Get started with recognizing faces in no time. Minimal setup required. Even more, you can use FaceQuest&reg; solely using API calls, if you wish.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-feature">
          <span class="lnr lnr-code"></span>
          <h4>
            Developer-friendly APIs
          </h4>
          <p>
            Automate your workload using FaceQuest&reg; APIs. Recognize faces from any programming language by simply using your secret key.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-feature">
          <span class="lnr lnr-tag"></span>
          <h4>
            Flexible Pricing Plans
          </h4>
          <p>
            FaceQuest's Pay-as-you-grow pricing plans allow you to pay based on the current volume of requirements you have.  If you need less, you pay less.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End feature Area -->



<!-- Start service Area -->
<section class="service-area section-gap" id="feature">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h2 class="mb-10">Why FaceQuest?</h2>
          <p>4 Reasons to use FaceQuest right now!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 secvice-left">
        <div class="single-service d-flex flex-row pb-30">
          <div class="icon">
            <h2>01</h2>
          </div>
          <div class="desc">
            <h4>No Infra Headaches</h4>
            <p>
              You do not need jazzy infra or AI coding skills to recognize faces in your software. FaceQuest&reg; enables you to concentrate on building your own software, without additional investment and maintenance for high end
              infrastructure.
            </p>
          </div>
        </div>
        <div class="single-service d-flex flex-row pb-30">
          <div class="icon">
            <h2>02</h2>
          </div>
          <div class="desc">
            <h4>Language Agnostic</h4>
            <p>
              FaceQuest&reg; does not care what programming language you use to code.
              As long as you can call HTTP(s) API end-points from your code, you could recognize faces from Java, Ruby, Scala or even Fortran (just-kidding!)
            </p>
          </div>
        </div>

      </div>
      <div class="col-lg-6 secvice-right">
        <div class="single-service d-flex flex-row pb-30">
          <div class="icon">
            <h2>03</h2>
          </div>
          <div class="desc">
            <h4>Focus on User Experience</h4>
            <p>
              FaceQuest&reg; has an easy-to-use and clutter-free Web UI, in case APIs are not your thing.
              See only relevant information and nothing else.
              FaceQuest&reg; APIs are designed keeping the developer's productivity in mind.
            </p>
          </div>
        </div>
        <div class="single-service d-flex flex-row pb-30">
          <div class="icon">
            <h2>04</h2>
          </div>
          <div class="desc">
            <h4>Secure & Safe</h4>
            <p>
              FaceQuest&reg; takes all possible measures to secure your data. All data is encrypted at rest.
              Only https for data transmission, no exceptions!
              You have full control over the data you add to FaceQuest&reg; platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->

<!-- Start callto-action Area -->
<section class="callto-action-area relative section-gap">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-9">
        <div class="title text-center">
          <h2 class="mb-10 text-white">Want to experience the Quest?</h2>
          <p class="text-white">Sign up for a plan that suits your needs </p>
          <a class="primary-btn scrollto" href="#pricing">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End calto-action Area -->
{% include pricing_area.html %}
{% include blog_area.html %}
{% include footer.html %}
{% include body_scripts.html %}
<script type = "text/javascript" > _linkedin_partner_id = "2773820";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id); 
  </script>
<script type="text/javascript" src="js/typewriter_effect.js"/>
  <script type="text/javascript"> 
    (function()
      {
        var s = document.getElementsByTagName("script ")[0]; 
        var b = document.createElement("script "); 
        b.type = "text / javascript ";
        b.async = true; 
        b.src = "https: //snap.licdn.com/li.lms-analytics/insight.min.js"; 
        s.parentNode.insertBefore(b, s);
      })(); 
  </script> 
  <noscript> 
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2773820&fmt=gif" /> 
  </noscript>
</body>

</html>
